<%- include("../layouts/header.html") %>

<section class="noticia">
  <div class="center">
    <div class="noticia-conteudo">
      <h1 class="titulo"><%- noticia.titulo %></h1>
      <img src="<%- noticia.imagem %>" alt="">
      <p class="autor">POR <%- noticia.autor %></p>
      <span>Visualizações: <%- noticia.views %></span>
      <p class="texto"><%- noticia.conteudo %></p>
    </div>

    <li class="mais-lidas">
      <h1>As mais lidas</h1>
      <% posts.map(post => { %>
        <div class="natureza">
          <a href="natureza-artico"><img src="<%- post.imagem %>" alt=""></a>
          <div>
            <h2><%- post.categoria %></h2>
            <h2 style="color: #303336;"><%- post.titulo %></h2>
            <p><%- post.conteudo.substr(0, 50) %></p>
          </div>
        </div><!--natureza-->
        <% }) %>
    </li><!--mais-lidas-->
  </div><!--center-->
</section><!--noticia-->

<%- include("../layouts/footer.html") %>